In [16]:
import numpy as np
import pandas as pd
import string
import calendar
import re
import math

from fractions import Fraction
from scipy import stats


print(f"numpy version is {np.__version__}")
print(f"pandas version is {pd.__version__}")

numpy version is 1.20.3
pandas version is 1.3.1

In [14]:
a1 = Fraction(15 / 252)
print(a1)

4289142502257615/72057594037927936

In [10]:
math.comb(6, 4)

15

In [11]:
math.comb(10, 5)

252

In [15]:
4289142502257615/72057594037927936

0.05952380952380952

In [18]:
1/252

0.003968253968253968

In [22]:
pow(0.8, 4) - pow(0.4, 4)

0.38400000000000006

In [24]:
math.exp(-0.5) - math.exp(-1.5)

0.38340049956420363

In [25]:
math.exp(-1) - math.exp(0)

-0.6321205588285577

In [26]:
80/243

0.3292181069958848

In [29]:
pow(math.e, -4)

0.018315638888734186

In [1]:
0.25*0.35 + 0.125*0.3

0.125

In [16]:
5/12

0.4166666666666667

In [17]:
d20 = { 'x' :np.arange(1, 7), 'Px' : [1/2, 25/90, 100/720, 15/252, 5/252, 1/252]}
df20 = pd.DataFrame(d20)
df20['xPx'] = (df20['x'] * df20['Px'])
df20

   x        Px       xPx
0  1  0.500000  0.500000
1  2  0.277778  0.555556
2  3  0.138889  0.416667
3  4  0.059524  0.238095
4  5  0.019841  0.099206
5  6  0.003968  0.023810

In [18]:
df20['xPx'].sum()

1.8333333333333335

In [19]:
d21 = { 'x' :[40, 33, 25, 50], 'Px' : [40/148, 33/148, 25/148, 50/148]}
df21 = pd.DataFrame(d21)
df21['xPx'] = (df21['x'] * df21['Px'])
df21

    x        Px        xPx
0  40  0.270270  10.810811
1  33  0.222973   7.358108
2  25  0.168919   4.222973
3  50  0.337838  16.891892

In [20]:
df21['xPx'].sum()

39.28378378378378

In [23]:
a2 = np.array([[2, 1], [3, 1]])
b2 = np.array([12/5, 3])
x2 = np.linalg.solve(a2, b2)
print(x2)

[0.6 1.2]

In [24]:
20 * math.sqrt(2)

28.284271247461902

In [25]:
4+28+16*8

160

In [31]:
list23 = []
for k in np.arange(1, 11):
    val = math.comb(17, k) * math.comb(23, 10-k) / math.comb(40, 10)
    list23.append([k, val])

In [38]:
df33 = pd.DataFrame(list23)
(df33[0] * df33[1]).sum()

4.250000000000001

In [14]:
19*5*3

285

In [13]:
pow(10, 3) - pow(9, 3)

271

In [19]:
np.polyval([1/3, -4, 0, 0], 9) - np.polyval([1/3, -4, 0, 0], 8) + np.polyval([-1/3, 5, 0, 0], 10) - np.polyval([-1/3, 5, 0, 0], 9)

9.000000000000057

In [22]:
np.polyval([1/4,-8/3, 0, 0, 0], 9) - np.polyval([1/4,-8/3, 0, 0, 0], 8) + np.polyval([-1/4, 10/3, 0, 0, 0], 10) - np.polyval([-1/4, 10/3, 0, 0, 0], 9)

81.16666666666686

In [30]:
974 - (81*12)

2

In [32]:
np.polyval([1/2, -8, 0], 8.25) - np.polyval([1/2, -8, 0], 8)

0.03125

In [33]:
Fraction(0.03125)

Fraction(1, 32)

In [38]:
p1 = [-1/15, -0.35 + 8/15, 8*0.35]
p2 = [-1/15, 1.65+8/15, -8*1.65]
p3 = [1/15, -1.65-2/3, 16.5]
np.polyval(np.polyint(p1), 8.25) - np.polyval(np.polyint(p1), 8) + np.polyval(np.polyint(p2), 9) - np.polyval(np.polyint(p2), 8.25) + np.polyval(np.polyint(p3), 10) - np.polyval(np.polyint(p3), 9)

0.9875000000000114

In [42]:
p4 = [-1.5, 0, 1.5, 0, 0]
np.polyval(np.polyint(p4), 1) - np.polyval(np.polyint(p4), 0)

0.2

In [60]:
p5 = [0.5, 0, -1.5, 1, 0]
np.polyval(np.polyint(p5), 1) - np.polyval(np.polyint(p5), 0)

0.09999999999999998

In [67]:
Fraction((0.1 - 9/64) / (19/64)).limit_denominator()

Fraction(-13, 95)

In [72]:
16+64+336

416